<div class="container mx-auto px-2 relative bg-gray-100">
    <mat-progress-spinner *ngIf="isLoading" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" mode="indeterminate"></mat-progress-spinner>
<!--    <mat-card *ngIf="message" class="my-4 p-4">-->
<!--        <mat-card-header>-->
<!--            <mat-card-title>Informational message</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--            <p>{{ message }}</p>-->
<!--        </mat-card-content>-->
<!--    </mat-card>-->
    <div *ngIf="!isLoading && !results.length"
         class="mt-4 text-center text-lg font-semibold">No results found</div>
    <div class="flex flex-wrap items-center justify-center mt-10">
        <mat-form-field appearance="outline"
                        class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-2">
            <input matInput [(ngModel)]="searchString"
                   (ngModelChange)="onSearchChange()"
                   (keyup.enter)="search()"
                   placeholder="Search..."
                   aria-label="Search">
        </mat-form-field>
    </div>
    <div class="mt-10 flex flex-col items-stretch w-full space-y-4" *ngIf="results && results.length > 0">
        <mat-card class="w-full bg-white p-4 hover:bg-gray-200 transition-colors duration-200 ease-in-out"
                  *ngFor="let result of results; let i = index">
            <mat-card-content class="flex justify-center">
                <app-station-detail [station]="result" class="w-11/12">
                </app-station-detail>
            </mat-card-content>
        </mat-card>
    </div>
</div>
