<div class="container mx-auto px-4">
    <div class="flex items-center justify-center mt-10">
        <input type="text" [(ngModel)]="searchString" (ngModelChange)="search()" placeholder="Search..."
               class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none w-full md:w-auto">
        <button (click)="search()" class="absolute right-0 top-0 mt-5 mr-4 md:mr-0 md:ml-4">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="mt-10 flex flex-col items-stretch w-full space-y-1" *ngIf="results && results.length > 0">
        <app-station-detail class="w-full" *ngFor="let result of results; let i = index" [station]="result"
                            [class.bg-gray-200]="i % 2 === 0"></app-station-detail>
    </div>
</div>
