<div *ngIf="isLoading" class="spinner-container flex items-center justify-center h-screen w-screen">
    <mat-spinner></mat-spinner>
</div>
<div class="container mx-auto px-4">
    <mat-toolbar class="flex justify-between items-center bg-gray-600 text-white">
        <mat-icon class="mr-2">schedule</mat-icon>
        <h1 class="text-3xl font-bold">Timetable</h1>
        <mat-icon class="ml-2">train</mat-icon>
        <button (click)="addEarlier()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Earlier</button>
        <input [(ngModel)]="selectedDateTime" (change)="updateTimeTable()" type="datetime-local" class="bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">
        <button (click)="addLater()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Later</button>
    </mat-toolbar>
    <div *ngIf="timetable?.stops && timetable.stops.length && !isLoading">
        <app-stop-info *ngFor="let stop of timetable.stops" [stop]="stop"></app-stop-info>
    </div>
</div>
