<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4">Timetable</h1>
    <h2 *ngIf="timetable?.station" class="text-xl font-semibold mb-2">{{ timetable.station }}</h2>
    <div *ngIf="timetable?.stops && timetable.stops.length">
        <div *ngFor="let stop of timetable.stops" class="border p-4 my-2">
            <h3 class="text-lg font-bold mb-2">{{ stop.evaStationNumber }}</h3>
            <div *ngIf="stop.arrival" class="mt-2">
                <div *ngIf="stop.arrival" class="mt-2">
                    <div class="path-container">
                        <div *ngFor="let path of stop.arrival[0].pathArray" class="path-stop">
                            <div class="path-dot"></div>
                            <p>{{ path }}</p>
                        </div>
                    </div>
                </div>
                <div class="border p-2 flex flex-col sm:flex-row">
                    <div class="flex flex-col w-full sm:w-1/2">
                        <h4 class="text-lg font-bold"> {{ timetable.station }}</h4>
                        <div *ngIf="stop.arrival" class="mt-2">
                            <h5 class="text-md font-bold">Arrival:</h5>
                            <p>Planned Arrival: {{ stop.arrival[0].plannedDateTime | date:'shortTime' }}</p>
                            <p>Planned Platform: {{ stop.arrival[0].plannedPlatform }}</p>
                        </div>
                        <div *ngIf="stop.departure" class="mt-2">
                            <h5 class="text-md font-bold">Departure:</h5>
                            <p>Planned Departure: {{ stop.departure[0].plannedDateTime | date:'shortTime' }}</p>
                            <p>Planned Platform: {{ stop.departure[0].plannedPlatform }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col w-full sm:w-1/2 mt-4 sm:mt-0 sm:pl-4">
                        <div (click)="openDialog(stop)" class="cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
                            *ngIf="(stop.arrival && stop.arrival[0]?.line) || (stop.departure && stop.departure[0]?.line) ">
                            <div *ngIf="stop.arrival && stop.arrival[0]?.line" class="mt-2">
                                <i class="fas fa-train mt-2"></i><span class="mt-2"
                                *ngIf="stop.tripFlags && stop.tripFlags[0]?.category ">{{ stop.tripFlags[0].category }}</span>
                                <span class="mt-2">{{ stop.arrival[0].line }}</span>
                            </div>
                            <div
                                *ngIf="(stop.departure && stop.departure[0]?.line) && (stop.arrival && stop.arrival[0]?.line) ">
                                <i class="fas fa-arrow-down mt-2"></i>
                            </div>
                            <div *ngIf="stop.departure && stop.departure[0]?.line" class="mt-2">
                                <i class="fas fa-train"></i><span class="mt-2"
                                *ngIf="stop.tripFlags && stop.tripFlags[0]?.category ">{{ stop.tripFlags[0].category }}</span>
                                <span class="mt-2">{{ stop.departure[0].line }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="stop.departure" class="mt-2">
                    <div class="path-container">
                        <div *ngFor="let path of stop.departure[0].pathArray" class="path-stop">
                            <div class="path-dot"></div>
                            <p>{{ path }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
