<div class="container mx-auto px-4 w-full whitespace-nowrap" *ngIf="station">
  <div class="flex items-center justify-center mt-10">
    <div class="mb-4 bg-white rounded-lg p-4 shadow flex w-full">
      <div class="flex flex-col w-1/2" *ngIf="station.name">
        <div class="font-bold text-xl mb-2">{{station.name}}</div>
        <div class="text-gray-700 text-base" *ngIf="station.evaNumbers && station.evaNumbers[0]">{{station.evaNumbers[0].number}}</div>
      </div>
      <div class="flex w-1/2 justify-end items-center">
        <i id="station-{{station.number}}-hasBicycle-icon" class="fas fa-bicycle mr-2" [ngClass]="station.hasBicycleParking ? 'text-green-500' : station.hasBicycleParking === undefined ? 'text-gray-500' : 'text-red-500'" title="Bicycle Parking"></i>
        <i id="station-{{station.number}}-hasSteplessAccess-icon" class="fas fa-wheelchair mr-2" [ngClass]="station.hasSteplessAccess ? 'text-green-500' : station.hasSteplessAccess === undefined ? 'text-gray-500' : 'text-red-500'" title="Stepless Access"></i>
        <i id="station-{{station.number}}-hasCarRental-icon" class="fas fa-car mr-2" [ngClass]="station.hasCarRental ? 'text-green-500' : station.hasCarRental === undefined ? 'text-gray-500' : 'text-red-500'" title="Car Rental"></i>
        <i id="station-{{station.number}}-hasWifi-icon" class="fas fa-wifi mr-2" [ngClass]="station.hasWifi ? 'text-green-500' : station.hasWifi === undefined ? 'text-gray-500' : 'text-red-500'" title="Wifi"></i>
        <i id="station-{{station.number}}-hasLocalPublicTransport-icon" class="fas fa-bus mr-2" [ngClass]="station.hasLocalPublicTransport ? 'text-green-500' : station.hasLocalPublicTransport === undefined ? 'text-gray-500' : 'text-red-500'" title="Local Public Transport"></i>
        <i id="station-{{station.number}}-hasTaxiRank-icon" class="fas fa-taxi mr-2" [ngClass]="station.hasTaxiRank ? 'text-green-500' : station.hasTaxiRank === undefined ? 'text-gray-500' : 'text-red-500'" title="Taxi Rank"></i>
        <i id="station-{{station.number}}-hasParking-icon" class="fas fa-parking mr-2" [ngClass]="station.hasParking ? 'text-green-500' : station.hasParking === undefined ? 'text-gray-500' : 'text-red-500'" title="Parking"></i>
        <i id="station-{{station.number}}-hasLockerSystem-icon" class="fas fa-lock mr-2" [ngClass]="station.hasLockerSystem ? 'text-green-500' : station.hasLockerSystem === undefined ? 'text-gray-500' : 'text-red-500'" title="Locker System"></i>
        <i id="station-{{station.number}}-hasPublicFacilities-icon" class="fas fa-toilet mr-2" [ngClass]="station.hasPublicFacilities ? 'text-green-500' : station.hasPublicFacilities === undefined ? 'text-gray-500' : 'text-red-500'" title="Public Facilities"></i>
        <i id="station-{{station.number}}-hasRailwayMission-icon" class="fas fa-hospital mr-2" [ngClass]="station.hasRailwayMission ? 'text-green-500' : station.hasRailwayMission === undefined ? 'text-gray-500' : 'text-red-500'" title="Railway Mission"></i>
        <i id="station-{{station.number}}-hasDBLounge-icon" class="fas fa-coffee mr-2" [ngClass]="station.hasDBLounge ? 'text-green-500' : station.hasDBLounge === undefined ? 'text-gray-500' : 'text-red-500'" title="DB Lounge"></i>
      </div>
    </div>
  </div>
</div>
