<mat-card class="my-4 ">
    <mat-card-header>
        <mat-card-title class="text-xl font-bold text-blue-400">{{ stop.evaStationNumber }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="grid grid-cols-5 gap-6">
            <div *ngIf="stop.arrival && stop.arrival.length > 0 else arrivalPlaceholder"
                 class="flex flex-col w-full">
                <h5 class="text-md font-bold text-gray-500">Arrival:</h5>
                <h5 *ngIf="stop.arrival && stop.arrival.length > 0 && stop.arrival[0].pathArray && stop.arrival[0].pathArray.length > 0"
                    class="text-md font-bold text-green-500">{{ stop.arrival[0].pathArray[0] }}</h5>
                <p>
                    <mat-icon class="mr-1 text-green-500">schedule</mat-icon>
                    {{ stop.arrival[0].plannedDateTime | date:'shortTime' }}
                </p>
                <p>
                    <mat-icon class="mr-1 text-green-500">directions_railway</mat-icon>
                    {{ stop.arrival[0].plannedPlatform }}
                </p>
            </div>
            <ng-template #arrivalPlaceholder class="flex flex-col w-full">
                <div></div>
            </ng-template>
            <div class="flex items-center justify-center">
                <mat-icon
                    *ngIf="stop.arrival && stop.arrival.length > 0 && stop.arrival[0].pathArray && stop.arrival[0].pathArray.length > 0"
                    class="text-gray-500">arrow_forward
                </mat-icon>
            </div>
            <div class="flex flex-col w-full">
                <h5 class="text-md font-bold text-gray-500">Current:</h5>
                <h5 class="text-md font-bold text-blue-500"> {{ stop.station }}</h5>
                <div (click)="openDialog(stop)" class="cursor-pointer hover:bg-gray-50 p-2 rounded-lg flex items-center space-x-2">
                    <div *ngIf="stop.arrival" class="flex items-center space-x-2">
                        <i class="fas fa-train text-lg align-middle"></i>
                        <span class="text-base align-middle"
                              *ngIf="stop.tripFlags && stop.tripFlags[0]?.category">{{ stop.tripFlags[0].category }}</span>
                        <span class="text-base align-middle" *ngIf="stop.arrival[0]?.line">{{ stop.arrival[0].line }}</span>
                    </div>
                    <div *ngIf="stop.arrival && stop.departure" class="flex items-center">
                        <mat-icon class="align-middle">arrow_right</mat-icon>
                    </div>
                    <div *ngIf="stop.departure" class="flex items-center space-x-2">
                        <i class="fas fa-train text-lg align-middle"></i>
                        <span class="text-base align-middle"
                              *ngIf="stop.tripFlags && stop.tripFlags[0]?.category">{{ stop.tripFlags[0].category }}</span>
                        <span class="text-base align-middle" *ngIf="stop.departure[0]?.line">{{ stop.departure[0].line }}</span>
                    </div>
                </div>
                <p hidden class="text-sm text-gray-500">{{ stop.id }}</p>
            </div>
            <div class="flex items-center justify-center">
                <mat-icon
                    *ngIf="stop.departure && stop.departure.length > 0 && stop.departure[0].pathArray && stop.departure[0].pathArray.length > 0"
                    class="text-gray-500">arrow_forward
                </mat-icon>
            </div>
            <div *ngIf="stop.departure && stop.departure.length > 0 else departurePlaceholder"
                 class="flex flex-col w-full">
                <h5 class="text-md font-bold text-gray-500">Departure:</h5>
                <h5 *ngIf="stop.departure && stop.departure.length > 0 && stop.departure[0].pathArray && stop.departure[0].pathArray.length > 0"
                    class="text-md font-bold text-red-500">{{ stop.departure[0].pathArray[stop.departure[0].pathArray.length - 1] }}</h5>
                <p>
                    <mat-icon class="mr-1 text-red-500">schedule</mat-icon>
                    {{ stop.departure[0].plannedDateTime | date:'shortTime' }}
                </p>
                <p>
                    <mat-icon class="mr-1 text-red-500">directions_railway</mat-icon>
                    {{ stop.departure[0].plannedPlatform }}
                </p>
            </div>
            <ng-template #departurePlaceholder class="flex flex-col w-full">
                <div></div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>
